.ctn {
  height: 4rem;
  margin: 0;
  background-color: light-dark(#0c356a, #0c356a);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.tabsList {
  &::before {
    display: none;
  }
}
.tabsList {
  color: white;
  font-weight: bold;
}

.tab {
  font-weight: 500;
  height: rem(45);
  background-color: transparent;
  position: relative;
  bottom: -11px;
  &::before,
  &::after {
    background-color: light-dark(#40f8ff, #40f8ff);
  }

  &:hover {
    background-color: light-dark(#279eff, #279eff);
  }
}
